<!-- Services Section -->
<section id="thetrip">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our Trip</h2>
        <h3 class="section-subheading text-muted">The crew of the Songbird is undertaking an Atlantic Ocean sail from New York – Bermuda – Puerto Rico to, quite simply, have an adventure. The journey is an effort to reconnect to the ocean, and in the process, reconnect with ourselves. We’re doing this old school. The real way. With the wind.</h3>
      </div>
    </div>
  </div>
</section>
